body{
	background-color: transparent;
	color: white;
}
html{
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
.app{
	margin: 0 auto;
	max-width: 600px;
	padding: 10px;
}
.card{
	word-break: break-word;
	word-break: break-all;
}
.user {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.user-header {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.profile-pic {
	flex-shrink:0;
	background-image: url('http://www.rubbercitytheatre.com/uploads/1/7/2/1/17213748/published/logonew_1.png?1497646754')
}
.messagesList {
	margin-bottom:5em;
}
.messagesList iframe
,.messagesList img
,.messagesList object
,.messagesList video
{
	max-width: 100%;
}
